.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #132f52;
  h1 {
    margin: 0;
  }
}
.nav {
  display: flex;
  gap: 0 8px;
}
